:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

:root[data-theme="dark"] a {
  color: #79b3fc;
}

:root[data-theme="dark"] body > section > header img {
  filter: invert(1);
}

:root[data-theme="dark"] img.light {
  display: none;
}

:root[data-theme="dark"] img.dark {
  display: inline;
}

:root[data-theme="light"] img.light {
  display: inline;
}

:root[data-theme="light"] img.dark {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root:not([data-theme]) img.light {
    display: inline;
  }

  :root:not([data-theme]) img.dark {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  :root:not([data-theme]) a {
    color: #79b3fc;
  }
  :root:not([data-theme]) body > section > header img {
    filter: invert(1);
  }
  :root:not([data-theme]) img.light {
    display: none;
  }
  :root:not([data-theme]) img.dark {
    display: inline;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist), var(--font-noto-sans-jp), Arial, Helvetica,
    sans-serif;
  line-height: 1.6;
}

body > section {
  margin: 3em auto;
  padding: 0 1em;
  max-width: 960px;
}

body > section > header,
body > section > footer {
  text-align: center;
  padding: 1em 0;
}

body > section > header {
  margin-bottom: 2em;
  border-bottom: 1px solid var(--foreground);
}

body > section > footer {
  margin-top: 2em;
  border-top: 1px solid var(--foreground);
}

body > section > footer > .cronos p {
  text-align: left;
}

body > section > footer > .cronos > img {
  width: 105px;
}

@media (min-width: 600px) {
  body > section > footer > .cronos {
    display: flex;
  }

  body > section > footer > .cronos > img {
    flex-grow: 0;
    width: 105px;
    padding-left: 15px;
  }
}

body > section > footer > .cronos > p {
  flex-grow: 1;
}

body > section > footer > .copyright {
  margin-top: 2em;
}

body > section > header img {
  width: 100%;
  max-width: 800px;
}

body > section > header img {
  fill: var(--foreground);
}

.image {
  text-align: center;
}

.image img {
  width: 300px;
  max-width: 70vw;
}

.toggle {
  position: absolute;
  top: 1em;
  width: 3em;
  height: 3em;
  border-radius: 0.4em;
  border: 1px solid var(--foreground);
  background: transparent;
  color: var(--foreground);
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease;
  z-index: 1000;
}

.toggle.theme {
  right: 1em;
}

.toggle.language {
  right: 4.5em;
}

.toggle:hover {
  transform: scale(1.1);
}

.toggle:active {
  transform: scale(0.95);
}
