:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", "Noto Sans Japanese", Arial, Helvetica, sans-serif;
}

body > section {
  margin: 3em auto;
  padding: 0 1em;
  max-width: 960px;
}

body > section > header,
body > section > footer {
  text-align: center;
  padding: 1em 0;
}

body > section > header {
  margin-bottom: 2em;
  border-bottom: 1px solid var(--foreground);
}

body > section > footer {
  margin-top: 2em;
  border-top: 1px solid var(--foreground);
}

body > section > header img {
  width: 100%;
  max-width: 800px;
}

body > section > header img path {
  fill: var(--foreground);
}

.image {
  text-align: center;
}

.image img {
  width: 300px;
  max-width: 70vw;
}
