:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  a {
    color: #79b3fc;
  }
  body > section > header img {
    filter: invert(1);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-jp), var(--font-geist-sans), Arial,
    Helvetica, sans-serif;
}

body > section {
  margin: 3em auto;
  padding: 0 1em;
  max-width: 960px;
}

body > section > header,
body > section > footer {
  text-align: center;
  padding: 1em 0;
}

body > section > header {
  margin-bottom: 2em;
  border-bottom: 1px solid var(--foreground);
}

body > section > footer {
  margin-top: 2em;
  border-top: 1px solid var(--foreground);
}

body > section > footer > p:not(.copyright) {
  text-align: left;
}

body > section > footer > p.copyright {
  margin-top: 2em;
}

body > section > header img {
  width: 100%;
  max-width: 800px;
}

body > section > header img {
  fill: var(--foreground);
}

.image {
  text-align: center;
}

.image img {
  width: 300px;
  max-width: 70vw;
}
